@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley:wght@500;600&family=Elsie&display=swap');

.bg-image{
    background-image: url("mediamodifier-nCk22aqZjlM-unsplash.jpg");
    background-size: cover;
    filter: blur(2px);
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
}

.content{
    z-index: 2;
    justify-content: center;
    align-content: center;
    height: fit-content;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(15, 123, 73);

}

.h3{
    font-size: 35px;
    color: rgb(198, 233, 156);
    text-shadow: 2px 2px gray;
    font-family: 'Elsie', cursive;
}

.label{
    width: 100px;
    text-align: right;
    font-family: 'Besley', serif;
    color: rgb(126, 234, 219);
    margin-left: 10px;
    margin-right: 10px;
}

.input{
    float: right;
    width: fit-content;
    margin-top: 5px;
}

.gender{
    float: right;
}

.submit{
    text-align: right;
}

.button{
    background-color: rgb(224, 237, 228);
    color: rgb(6, 57, 7);
    font-weight: bold;
}

body{
    height: 100%;
    width: 100%;
}